<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Green Facility</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Green Facility</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/menu">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datos-empresa">Datos Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datos-web">Datos WEB</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    <h1>Datos Web</h1>


    <div class="row">
        <div class="col-1"></div>
        
        <div class="col-10">

            <form method="POST" action="/datos-web">


                <h3>Encabezado:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">¿Qué hacemos?</label>
                    <textarea class="form-control" name="queHacemos" cols="30" rows="2">{{datosWeb.queHacemos}} </textarea>
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">¿Quiénes somos?</label>
                    <textarea class="form-control" name="quienesSomos" cols="30" rows="2">{{datosWeb.quienesSomos}}</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Consulta gratis:</label>
                    <textarea name="consultaGratis"  cols="30" rows="2" class="form-control">{{datosWeb.consultaGratis}}</textarea>
                </div>
                <br>

                <h3>Servicios:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nuestros Servicios:</label>
                    <textarea name="nuestrosServicios" cols="30" rows="2" class="form-control">{{datosWeb.nuestrosServicios}}</textarea>
                </div>
                <br>

                <h3>Proyectos:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nuestros Proyectos:</label>
                    <textarea name="galeriaProyectos" cols="30" rows="2" class="form-control">{{datosWeb.galeriaProyectos}}</textarea>
                </div>
                <br>

                <h3>Contactanos:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Contactanos:</label>
                    <textarea name="contactanos" cols="30" rows="2" class="form-control">{{datosWeb.contactanos}}</textarea>
                </div>
                <br>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>

        <div class="col-1"></div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>
</html>