{{> head }}
      {{> menu}}
    <h1>Datos Web</h1>


    <div class="row">
        <div class="col-1"></div>
        
        <div class="col-10">

            <form method="POST" action="/datos-web">


                <h3>Encabezado:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">¿Qué hacemos?</label>
                    <textarea class="form-control" name="queHacemos" cols="30" rows="2">{{datosWeb.queHacemos}} </textarea>
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">¿Quiénes somos?</label>
                    <textarea class="form-control" name="quienesSomos" cols="30" rows="2">{{datosWeb.quienesSomos}}</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Consulta gratis:</label>
                    <textarea name="consultaGratis"  cols="30" rows="2" class="form-control">{{datosWeb.consultaGratis}}</textarea>
                </div>
                <br>

                <h3>Servicios:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nuestros Servicios:</label>
                    <textarea name="nuestrosServicios" cols="30" rows="2" class="form-control">{{datosWeb.nuestrosServicios}}</textarea>
                </div>
                <br>

                <h3>Proyectos:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nuestros Proyectos:</label>
                    <textarea name="galeriaProyectos" cols="30" rows="2" class="form-control">{{datosWeb.galeriaProyectos}}</textarea>
                </div>
                <br>

                <h3>Contactanos:</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Contactanos:</label>
                    <textarea name="contactanos" cols="30" rows="2" class="form-control">{{datosWeb.contactanos}}</textarea>
                </div>
                <br>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>

        <div class="col-1"></div>
    </div>

{{> footer}}